.header{
  display: flex;
  align-items: center;
  border-top: 1px solid #bfbdbd;
  border-bottom: 1px solid #bfbdbd;
  padding: 10px;
}

h4{
  font-weight: bold;
}

table{
  padding-left: 10px;
}

summary{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

p{
  margin-bottom: 0rem !important;
  margin-left: 25px !important;
}

details{
  width: 500px !important;
}

details > summary {
  background: #f1f1f1 !important;
  padding: 3px 10px !important;
}

details > summary::-webkit-details-marker {
  display: none
}