/*지수오빠 사용부분 */
div{
    overflow-x: auto;
}
table.result_table {
    border-collapse:collapse;
    text-align: center;
    vertical-align: middle;
    width : 100%;
    /*margin: 20px;*/
}
table.result_table th {
    padding: 10px;
    font-weight: bold;
    background: #cff0ec ;
}
table.result_table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #eee;
}
td:hover { background-color: #ffe9f4;}
th, td { border:1px solid gray; }