* {
  margin: 0;
  padding: 0;
}

  #tileline_frame{
    background: #222;
  }
  #timeline {
    background: #222;
    font-family: Georgia, serif;
    color: #fff;
    font-size: 14px;
    width: 800px;
    height: 350px;
    overflow: hidden;
    margin: 15px auto;
    position: relative;
    background: url('../images/dot.gif') left 45px repeat-x;
  }
    #dates {
      width: 800px;
      height: 60px;
      overflow: hidden;
    }
      #dates li {
        list-style: none;
        float: left;
        width: 100px;
        height: 50px;
        font-size: 24px;
        text-align: center;
        background: url('../images/biggerdot.png') center bottom no-repeat;
      }
        #dates a {
          line-height: 38px;
          padding-bottom: 10px;
        }
        #dates .selected {
              font-size: 38px;
        }

    #issues {
      width: 800px;
      height: 350px;
      overflow: hidden;
    }
      #issues li {
        width: 800px;
        height: 350px;
        list-style: none;
        float: left;
      }
        #issues li.selected img {

        }
        #issues li img {
          float: left;
          margin: 10px 30px 10px 50px;
          background: transparent;
          -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE 8 */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);/* IE 6 & 7 */
          zoom: 1;
          -webkit-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
          -webkit-transform: scale(0.7,0.7);
          transform: scale(0.7,0.7);
        }
        #issues li h1 {
          color: #ffcc00;
          font-size: 25px;
          margin: 20px 0;
          text-shadow: #000 1px 1px 2px;
        }
        #issues li p {
          font-size: 13px;
          margin-right: 70px;
          font-weight: normal;
          line-height: 12px;
          text-shadow: #000 1px 1px 2px;
        }

    #grad_left,
    #grad_right {
      width: 100px;
      height: 350px;
      position: absolute;
      top: 0;
    }
      #grad_left {
            left: 0;
            background: url('../images/grad_left.png') repeat-y;
      }
      #grad_right {
            right: 0;
            background: url('../images/grad_right.png') repeat-y;
      }

    #next,
    #prev {
      position: absolute;
      top: 0;
      font-size: 70px;
      top: 170px;
      width: 22px;
      height: 38px;
      background-position: 0 0;
      background-repeat: no-repeat;
      text-indent: -9999px;
      overflow: hidden;
    }
      #next:hover,
      #prev:hover {
        background-position: 0 -76px;
      }
      #next {
        right: 0;
        background-image: url('../images/next.png');
      }
      #prev {
        left: 0;
        background-image: url('../images/prev.png');
      }
        #next.disabled,
        #prev.disabled {
          opacity: 0.2;
        }

.about_chart_frame{
}

.bar_graph{
    width: 350px;
    height:350px;
}

.pie_chart{
    width:550px;
    height:350px;

}

.grids
 {
  display: grid;
  grid-template-columns: repeat(4,150px);  /* 3 columns */
  grid-template-rows: repeat(2,150px); /* 3 rows  */
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-items{
  /*border:thin gray solid;*/
  padding:10px;
}

 .my-hr3 {
    border: 0;
    height: 2px;
    background: #dee2e6;
    }
.panel {
    border: none;
    box-shadow: none;
}
.panel-body {
    padding: 10px;
}
.top-stats-panel {
    min-height: 164px;
}
.widget-h {
    color: #afaebc;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 0px 10px 0px;
    text-align: center;
}
.bar-stats {
    height: 80px;
    margin-top: 20px;
    border-bottom: #aec785 2px solid;
    position: relative;
}
.progress-stat-bar {
    padding-left: 10px;
}
.progress-stat-bar li {
    height: 78px;
    width: 20px;
    background: #f1f1f1;
    position: relative;
    margin-right: 5px;
    float: left;
    list-style: none;
}

.progress-stat-percent {
    background: #aec785;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.bar-legend {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 0;
}

.bar-legend li {
    font-size: 11px;
    margin-bottom: 5px;
    list-style: none;
}
.bar-legend-pointer {
    height: 10px;
    width: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.pink {
    background: #a48ad4 !important;
}

.bar-legend-pointer.green {
    background: #AEC785;
}
.bar-legend-pointer {
    height: 10px;
    width: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}
.yellow-b {
    background: #fdd752 !important;
}
.daily-sales-info {
    padding-top: 6px;
}
.daily-sales-info {
    color: #ccc;
}