* {
    margin: 0;
    padding: 0;
}

.grids {
    display: grid;
    grid-template-columns: repeat(4, 150px); /* 3 columns */
    grid-template-rows: repeat(2, 150px); /* 3 rows  */
    grid-gap: 50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-items {
    /*border:thin gray solid;*/
    padding: 10px;
}

.my-hr3 {
    margin-top: 9px;
    border: 0;
    height: 2px;
    background: #dee2e6;
}

.panel {
    border: none;
    box-shadow: none;
}

.panel-body {
    padding: 10px;
}

.top-stats-panel {
    min-height: 164px;
}

.widget-h {
    color: #afaebc;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    display: block;
    text-overflow: ellipsis;
}

.bar-stats {
    height: 80px;
    margin-top: 20px;
    border-bottom: #aec785 2px solid;
    position: relative;
}

.progress-stat-bar {
    padding-left: 10px;
}

.progress-stat-bar li {
    height: 78px;
    width: 20px;
    background: #f1f1f1;
    position: relative;
    margin-right: 5px;
    float: left;
    list-style: none;
}

.progress-stat-percent {
    background: #aec785;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.bar-legend {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 0;
}

.bar-legend li {
    font-size: 10.4px;
    margin-bottom: 5px;
    list-style: none;
}

.bar-legend-pointer {
    height: 10px;
    width: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.pink {
    background: #a48ad4 !important;
}

.bar-legend-pointer.green {
    background: #AEC785;
}

.bar-legend-pointer {
    height: 10px;
    width: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.yellow-b {
    background: #fdd752 !important;
}

.daily-sales-info {
    padding-top: 6px;
}

.daily-sales-info {
    color: #ccc;
}

@font-face {
    font-family: "BankGothic Md BT";
    src: url('./BankGothic Md BT.ttf');
}