{% extends "Main_engine/layout.html" %}

{% block title %} CFG page {% endblock %}
{% block head %}
{% load static %}
<link href="{% static 'Main_engine/css/styles.css' %}" rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
<script src="{% static 'Main_engine/js/defaults-ko_KR.min.js' %}"></script>

<style>
    .graph-outer {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .graph-inner {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        display: flex;
    }

    .paint {
        display: block;
        width: 100%;
        height: 100%;
    }


    div.groot-4 {
        margin: 5px;
        /*width: 300px;*/
        border: 3px solid grey;
    }

    div.groot-3 {
        margin: 5px;
        /*width: 33%;*/
        border: 3px solid grey;
    }

    div.groot-2 {
        margin: 5px;
        /*width: 50%;*/
        border: 3px solid grey;
    }

    div.blur {
        height: 100%;
        background-color: black;
        opacity: 0.4;
    }

    p.blur {
        margin-top: 60%;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
        color: ghostwhite;
    }

    div.seonea {
        height: 100%;
    }

    p.seonea {
        margin-top: 60%;
        text-align: center;
        font-size: xx-large;
        font-weight: bold;
    }

</style>
{% endblock head %}

{% block section %}
<div class="paint">
    <div class="graph-outer">
        <div id="test" class="graph-inner">

        </div>
    </div>
</div>

{% if cfg %}
{% if matching %}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.js"></script>
<script>
    (function ($) {

        var cfgdata = "{{cfg}}";
        var text_res = cfgdata.replace(/\n/gi, '\\n').replace(/&#39;/gi, '"').replace(/\t/gi, '\\t');
        var json_res = JSON.parse(text_res);

        var matchdata = "{{matching}}";
        var match_text = matchdata.replace(/\n/gi, "\\n").replace(/\t/gi, "\\t").replace(/&#39;/gi, '"');
        var match_json = JSON.parse(match_text);

        var postoffice = {};
        var boxes = {};

        var pickerclass = document.getElementsByClassName("selectpicker");
        for (var picker = 0; picker < pickerclass.length; picker++) {
            for (var standard in match_json) {
                var option = document.createElement("option");
                option.value = standard;
                option.text = standard;
                pickerclass.item(picker).appendChild(option);

            }
        }

        /* 함수이름 버튼 만드는 함수 */
        function makebt(file, fname) {
            var li = document.createElement("li");
            li.id = "li_" + fname;

            li.onclick = function () {
                $draw(file, fname);
            }; //button click 하면 함수 그려주기
            document.getElementById('func_menu').appendChild(li);

            var a = document.createElement("a");
            a.id = "a_" + fname;
            a.className = "sidenav-item-link";
            a.textContent = fname;
            document.getElementById("li_" + fname).appendChild(a);
        }

        /* 그래프 그리기 위한 변수 생성 */
        function boxing(array, branches) {
            var nodes = [];
            for (var item in array) {
                var node_dict = {};
                node_dict['id'] = item;
                node_dict['size'] = 300;
                node_dict['label'] = array[item];
                node_dict['color'] = "red";
                node_dict['shape'] = 'box';
                node_dict['font'] = {'face': 'monospace', 'align': 'left'};
                nodes.push(node_dict);
            }
            var Nodes = new vis.DataSet(nodes);

            var edges = [];
            for (var branch in branches) {
                var start = [];
                var end = [];
                var leaf = branches[branch].toString().split(',');
                // document.write(leaf+"<br>");
                for (var l in leaf) {
                    if (l % 2 == 0) {
                        start.push(leaf[l].toString());
                        // document.write(start+"<br>");
                    } else {
                        end.push(leaf[l].toString());
                        // document.write(end[1]+"<br>");
                    }
                }
                for (var index = 0; index < start.length; index++) {
                    var edge_dict = {};
                    edge_dict['from'] = start[index];
                    edge_dict['to'] = end[index];
                    edge_dict['arrows'] = 'to';
                    edge_dict['physics'] = false;
                    edge_dict['smooth'] = {'type': 'cubicBezier'};
                    edges.push(edge_dict);
                }
            }

            var Edges = new vis.DataSet(edges);
            return [Nodes, Edges];
        }

        /* 버튼 클릭하면 데이터 변하게 하는 함수 */
        $("#select-oper").click(function () {
            $("#func_menu").empty();
            for (file in json_res) {
                var selected = $("#select_base").val();
                if (json_res[file]['file_name'] == selected) {
                    for (var funcname in json_res[file]['func_name']) {
                        makebt(json_res[file]['file_name'], funcname);
                        if (funcname.indexOf("start") != -1) {
                            $draw(json_res[file]['file_name'], funcname);
                        }
                    }
                }
            }
        });
        /* 기준이 바뀌면 대상에 disable 거는 함수 */
        $("#select_base").on("changed.bs.select", function () {
            var selected = $("#select_base").children("option:selected").text();        // 기준 파일명을 가져옴
            $("#select_target option").prop('disabled', false);                         // 전체 초기화
            $('#select_target').find('[value="' + selected + '"]').prop('selected', false);// 체크도 해제
            $("#select_target").find('[value="' + selected + '"]').prop('disabled', true);// 기준과 같은 옵션 disable
            $("#select_target").selectpicker('refresh');                                // 새로고침
        });
        /* 그래프 그리는 함수 */
        $draw = function (file, fname) {console.log(file, fname);
            //그림을 그릴 부분을 먼저 지워준다. (안 지우면 계속 추가됨)
            var targets = $('#select_target').val();console.log(targets);
            $('.graph-inner').empty();
            //매칭되는 애들을 모아보자
            var targetlist = [];
            targetlist.push([file, fname]);
            for (filename in match_json) {
                //기준 파일명 찾고
                if (file == filename) {
                    //체크된 대상 파일들 중에서
                    for (target in targets) {
                        var t = targets[target];
                        //대상 중에서 기준 함수명을 찾는다.
                        if (match_json[filename][t].hasOwnProperty(fname)) {
                            targetlist.push([t, match_json[filename][t][fname][0]]);
                            // console.log([t, match_json[filename][t][fname][0]]);
                            // var match_node = postoffice[t][[match_json[filename][t][fname][0]]][0];
                            //
                            // console.log(match_json[filename][t][fname][0]);
                            // console.log(match_node.get());
                            // for (addr in match_json[filename][t][fname][1]){
                            //     // console.log(match_json[filename][t][fname][1][addr]);
                            //     match_node.update({id: match_json[filename][t][fname][1][addr], color: "#E3F97B"});
                            // }
                            // console.log(match_node.get());
                        } else {
                            targetlist.push([t, "none"]);
                        }
                    }
                }
            }
            //그릴거야
            var graph_cnt = targetlist.length;
            for (var index = 0; index < graph_cnt; index++) {
                //그릴 그래프가 4개 이상인지 이하인지 확인
                var div = document.createElement('div');
                div.id = "graph_" + index;
                if (graph_cnt > 3) {
                    div.className = "col-xl-3 col-sm-6";
                }else{
                    div.className = "col-xl-4 col-lg-6 col-12";
                }
                //기준은 위치 고정
                if (index == 0) {
                    div.setAttribute("style", "position: sticky; left:0px; border: 3px solid red;  background-color:white; z-index: " + (graph_cnt - 1) + ";");
                } else {
                    div.setAttribute("style", " border: 3px solid grey;");
                }
                document.getElementById('test').appendChild(div);


                if (targetlist[index][1] == 'none') {
                    document.getElementById('graph_' + index).setAttribute('class', 'groot-3 saonea');
                    var p = document.createElement('p');
                    p.className = 'seonea';
                    p.innerText = "There is not matched function.";
                    document.getElementById("graph_" + index).appendChild(p);
                    continue;
                }
                var data = {
                    nodes: postoffice[targetlist[index][0]][targetlist[index][1]][0],
                    edges: postoffice[targetlist[index][0]][targetlist[index][1]][1]
                };

                var options = {
                    manipulation: false,
                    layout: {
                        hierarchical: {
                            enabled: true,
                            levelSeparation: 200
                        }
                    },
                    physics: {
                        hierarchicalRepulsion: {
                            nodeDistance: 200
                        }
                    }
                };
                var canvas = document.getElementById('graph_' + index);
                var network = new vis.Network(canvas, data, options);
                // network.on('click', function(){
                //    alert('asdf');
                // });
                //파일명, 함수명, 유사도 추가
                var name_label = document.createElement('p');
                name_label.innerText = targetlist[index][0] + '\n' + targetlist[index][1];
                name_label.setAttribute('style', 'position: absolute; word-wrap: break-word; text-overflow: ellipsis; width: 90%; z-index: 2; top: 3px;');
                document.getElementById('graph_' + index).appendChild(name_label);
                //////////////////////////
            }
        };

        var index = 0;
        var first_file = "";
        var first_func = "";
        for (var file in json_res) {
            for (var funcname in json_res[file]['func_name']) {
                if (index == 0) {
                    makebt(json_res[file]['file_name'], funcname);
                    if (funcname.indexOf('start') != -1) {
                        first_file = json_res[file]['file_name'];
                        first_func = funcname;
                    }
                }
                var array = {};
                var branches = [];
                for (var startaddr in json_res[file]['func_name'][funcname]) {
                    if (startaddr != "flow_opString" && startaddr != "flow_constants" && startaddr != "flow_branches") {
                        var block = startaddr + "\n";

                        for (var curaddr in json_res[file]['func_name'][funcname][startaddr]['disasms']) {
                            block = block + json_res[file]['func_name'][funcname][startaddr]['disasms'][curaddr] + '\n';
                        }
                        var addrsplit = startaddr;
                        array[addrsplit] = block; //함수 값안에있는 정보
                    }
                    if (startaddr == "flow_branches" && json_res[file]['func_name'][funcname][startaddr].length != 0) {
                        branches.push(json_res[file]['func_name'][funcname][startaddr]);
                    }
                }
                var box = "";
                box = boxing(array, branches);
                boxes[funcname] = box;
            }
            index++;
            postoffice[json_res[file]['file_name']] = boxes;
        }


        // 페이지가 처음 뜰 때 기준은 처음으로 대상은 전부 선택해서 보여주도록
        var first_base = $("#select_base").find('option:first');
        first_base.attr('selected', 'selected');
        $('#select_target option').prop('selected', true);
        $('#select_target').find('[value="' + first_base.text() + '"]').prop('selected', false);
        $('#select_target').find('[value="' + first_base.text() + '"]').prop('disabled', true);

        $draw(first_file, first_func);
    })(jQuery);


</script>
{% else %}
<h2>Nope!</h2>
{% endif %}
{% endif %}
{% endblock section %}