{% extends "Main_engine/layout.html" %}

{% block title %} CFG page {% endblock %}
{% block head %}
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="https://unpkg.com/viz.js@1.8.1/viz.js" type="javascript/worker"></script>
<script src="https://unpkg.com/d3-graphviz@2.6.1/build/d3-graphviz.js"></script>
{% endblock head %}

{% block section %}
<div class="mt-5" id="graph" style="text-align: left;"></div>
{% if cfg_ %}
<script>
    var cfgdata = "{{cfg_}}";
    // document.write(cfgdata)
    var text_res = cfgdata.replace(/\n/gi, '\\n').replace(/&#39;/gi, '"').replace(/\t/gi, '\\t');

    // document.write(text_res);
    var json_res = JSON.parse(text_res);

    document.write('<br>');
    var array = {};
    var branches = [];
    for (var funcname in json_res['func_name']) {
        document.write(funcname + "<br>");
        for (var startaddr in json_res['func_name'][funcname]) {
            if (startaddr != "flow_opString" && startaddr != "flow_constants" && startaddr != "flow_branches") {
                document.write(startaddr+"<br>");
                var block = startaddr + "\n";
                for (var curaddr in json_res['func_name'][funcname][startaddr]['disasms']) {
                    // document.write(json_res[startaddr]['disasms'][curaddr]+'<br>')
                    block = block + json_res['func_name'][funcname][startaddr]['disasms'][curaddr] + '\n';
                }
                array[startaddr] = block;
            }
            if (startaddr == "flow_branches" && json_res['func_name'][funcname][startaddr].length != 0){
                branches.push(json_res['func_name'][funcname][startaddr]);
                document.write(branches+"<br>");
            }
        }
    }
    document.write("<br>");

    var box = 'graph { node [shape=box style=filled ] ';
    for (var item in array){
        // document.write(item);
        box = box + item + ' [label="'    +array[item] + '", color=green];\n';
        // var next = parseInt(item) + 1;
        // if(next < array.length) {
        //     box = box + item + '--' + next + ';\n';
        // }
    }

        document.write("<br>before");
        document.write(branches);
        document.write("<br>after");

    // branches = branches.split(',');
    for (var leaf in branches){
        box = box + branches[leaf][0] + " -- " + branches[leaf][1] + ';\n';
        document.write(branches[leaf]);
    }
    box = box + '}';
    d3.select("#graph").graphviz()
        .renderDot(box);

</script>
{% else %}
<h2>Nope!</h2>
{% endif %}
{% endblock section %}