{% extends "Main_engine/layout.html" %}

{% block title %} CG {% endblock %}
{% block head %}
    {% load static %}
    <link href="{% static 'Main_engine/images/logo_diffeye.png' %}" rel="shortcut icon"/> <!--title logo 부분 -->
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/viz.js@1.8.1/viz.js" type="javascript/worker"></script>
    <script src="https://unpkg.com/d3-graphviz@2.6.1/build/d3-graphviz.js"></script>

{% endblock head %}

{% block section %}
    <div style="display: block; overflow: auto;">
        <div class="mt-5" id="file-name" style="display: flex"></div>
        <div class="mt-5" id="base-graph" style="width: 100%;"></div>
    </div>
    {% if cg %}
        <script>
            var boxes = {};
            var idiv = document.createElement('li');
            idiv.id = 'view';
            document.getElementById('nav-cg').appendChild(idiv);


            /* 그래프 그리기 위한 변수 생성 */
            function boxing(array, branches) {
                var box = 'graph {\n' +
                    'node [shape=box]; ';
                for (var item in array) {
                    box = box + '\"' + item + '\"' + ' [label="' + array[item] + '"];\n';
                }
                // document.write(box);
                for (var branch in branches) {
                    var start = [];
                    var end = [];
                    var leaf = branches[branch].toString().split(',');
                    // document.write(leaf+"<br>");
                    for (var l in leaf) {
                        if (l % 2 == 0) {
                            start.push(leaf[l]);
                            // document.write(start+"<br>");
                        } else {
                            end.push(leaf[l]);
                            // document.write(end[1]+"<br>");
                        }
                    }
                    for (var index = 0; index < start.length; index++) {
                        box = box + '\"' + start[index] + '\"' + " -- " + '\"' + end[index] + '\"' + ';\n';
                    }
                }
                box = box + '}';
                return box;
            }

            /* 그래프 그리는 함수 */
            function draw(graph) {
                d3.select("#base-graph").graphviz()
                    .renderDot(graph);
            }

            /* 함수이름 버튼 만드는 함수 */
            function makebt(fname) {
                var length = 16;
                var a = document.createElement("a");
                a.id = fname;
                var fname_text = fname;
                a.className = 'sidenav-item-link';
                if (fname_text.length > length) {
                    a.setAttribute("data-toggle", "tooltip");
                    a.setAttribute("data-placement", "bottom");
                    a.setAttribute("title", fname_text);
                    a.textContent = fname_text.substring(0, length) + "...";
                } else {
                    a.textContent = fname_text;
                }
                //btn.setAttribute('style', "font-style: inherit; color: #ffffff; display: block;");
                a.onclick = function () {
                    // document.write(boxes[fname]);
                    draw(boxes[fname]);
                };
                document.getElementById("view").appendChild(a);
            }

            var cgdata = "{{cg}}";
            var text_res = cgdata.replace(/\n/gi, '\\n').replace(/&#39;/gi, '"').replace(/\t/gi, '\\t');
            var json_res = JSON.parse(text_res);

            var array = {};
            var branches = [];
            for (var file in json_res) {
                makebt(file);
                for (var funcname in json_res[file]['f_name']) {
                    array[json_res[file]['f_name'][funcname]] = json_res[file]['f_name'][funcname];
                }
                branches = json_res[file]['f_branch'];
                graph = boxing(array, branches);
                boxes[file] = graph;
            }


            // draw(boxes[funcname]);

        </script>
    {% else %}
        <h2>Nope!</h2>
    {% endif %}
{% endblock section %}