<!DOCTYPE html>
<html>
<head>
    <title>ERROR</title>
    {% load static %}
    <link href="{% static 'Main_engine/images/logo_diffeye.png' %}" rel="shortcut icon"/> <!--title logo 부분 -->
<style>
    body{
    background-color: black;
        font-family: 'Poppins', sans-serif;
    }
    </style>
</head>
<body>
<p style="color: white; text-align: center; padding-top: 10rem; font-size: 5rem; font-weight: bold; margin-bottom: -2rem;">500</p>
<p style="color: white; text-align: center; font-size: 3rem; font-weight: bold;">Internal Sever Error!</p>
</body>
</html>