{% extends "Main_engine/layout.html" %}

{% block head %}
{% load static %}
<link href="{% static 'Main_engine/css/pe.css' %}" rel="stylesheet">
<script src="{% static 'Main_engine/js/defaults-ko_KR.min.js' %}"></script>
<style>
    .content {
        font-family: 'Roboto Condensed', sans-serif !important;
    }

</style>
{% endblock head %}

{% block section %}
{% if p_dict %}
<!-- pe_basic -->
<div id="Basic Properties" style="padding: 10px">
    <div class="header">
        <h3 align="left">Basic Properties</h3>
    </div>
    <div class="detail" style="margin-left: 20px;">

        <table style="height: 300px; " >
            <tr id="File name">
                <th style="padding-right: 20px;">File name</th>
            </tr>
            <tr id="File size" >
                <th style="padding-right: 20px;">File size</th>
            </tr>
            <tr id="File type">
                <th style="padding-right: 20px;">File type</th>
            </tr>
            <tr id="MD5">
                <th style="padding-right: 20px;">MD5</th>
            </tr>
            <tr id="SHA-1">
                <th style="padding-right: 20px;">SHA-1</th>
            </tr>
            <tr id="SHA-256">
                <th style="padding-right: 20px;">SHA-256</th>
            </tr>
            <tr id="Imphash">
                <th style="padding-right: 20px;">Imphash</th>
            </tr>
            <tr id="SSDEEP">
                <th style="padding-right: 20px;">SSDEEP</th>
            </tr>
        </table>
        <script>
            var pe_result = "{{p_dict}}";

            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */
            function change_basic_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    //document.write(fname);
                    if (fname == pe_filename) {
                        for (var basic in json_pe[fname]) {
                            //document.write(basic);

                            if (basic == 'basic prop') {
                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['file name']);
                                new_li.appendChild(copy);
                                document.getElementById('File name').appendChild(new_li);

                                // var new_li = document.createElement("td");
                                // new_li.textContent = json_pe[fname][basic]['file_name'];
                                // document.getElementById('File name').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['file size']);
                                new_li.appendChild(copy);
                                document.getElementById('File size').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['file_type']);
                                new_li.appendChild(copy);
                                document.getElementById('File type').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['MD5 hash']);
                                new_li.appendChild(copy);
                                document.getElementById('MD5').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['SHA-1 hash']);
                                new_li.appendChild(copy);
                                document.getElementById('SHA-1').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['SHA-256 hash']);
                                new_li.appendChild(copy);
                                document.getElementById('SHA-256').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['Imp hash']);
                                new_li.appendChild(copy);
                                document.getElementById('Imphash').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][basic]['SSDEEP hash']);
                                new_li.appendChild(copy);
                                document.getElementById('SSDEEP').appendChild(new_li);
                            }
                        }
                    }
                }
            }

            //change_basic_page(fileName);

        </script>
    </div>
</div>
<br>

<!-- pe string file info -->
<div id="Signature Info" style="padding: 10px">
    <div class="header">
        <h3 align="left">Signature Info</h3>
    </div>
    <div class="detail">
        <table height=220px id="fileinfo_table" style="margin-left: 20px; margin-top: 10px; width: 15%">

            <tbody>
            <div style="margin-left: 10px; margin-top: 15px;">
                <h4>File Version Information</h4>
            </div>
            <tr id="Copyright">
                <th>Copyright</th>
            </tr>
            <tr id="Product">
                <th>Product</th>
            </tr>
            <tr id="Description">
                <th>Description</th>
            </tr>
            <tr id="Original_Name">
                <th>Original Name</th>
            </tr>
            <tr id="Internal_Name">
                <th>Internal Name</th>
            </tr>
            <tr id="File_Version">
                <th>File Version</th>
            </tr>
            <tr id="Product Version">
                <th>Product Version</th>
            </tr>
            <tr id="Comments">
                <th>Comments</th>
            </tr>
            </tbody>
        </table>
        <script>
            var pe_result = "{{p_dict}}";

            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');

            var json_pe = JSON.parse(text_pe_res);
            //json_pe = json_pe.replace(/&amp;#9426;/gi, "ⓒ");
            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_string_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    for (var stringf in json_pe[fname]) {
                        //document.write(stringf)
                        if (fname == pe_filename) {
                            if (stringf == 'string file info') {
                                if (Object.keys(json_pe[fname]['string file info']).length === 0) {
                                    break;
                                } else {
                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['LegalCopyright'].replace(/&amp;#9426;/gi, "ⓒ"));
                                    new_li.appendChild(copy);
                                    document.getElementById('Copyright').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['ProductName'].replace(/&amp;#reg;/gi, "®"));
                                    new_li.appendChild(copy);
                                    document.getElementById('Product').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['FileDescription']);
                                    new_li.appendChild(copy);
                                    document.getElementById('Description').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['OriginalFilename']);
                                    new_li.appendChild(copy);
                                    document.getElementById('Original_Name').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['InternalName']);
                                    new_li.appendChild(copy);
                                    document.getElementById('Internal_Name').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['FileVersion']);
                                    new_li.appendChild(copy);
                                    document.getElementById('File_Version').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['ProductVersion']);
                                    new_li.appendChild(copy);
                                    document.getElementById('Product Version').appendChild(new_li);

                                    var new_li = document.createElement('td');
                                    var copy = document.createTextNode(json_pe[fname][stringf]['Comments']);
                                    new_li.appendChild(copy);
                                    document.getElementById('Comments').appendChild(new_li);
                                }
                            }
                        }
                    }
                }
            }

            //change_string_page(fileName);

        </script>

    </div>
</div>
<br>

<!-- pe header -->
<div id="Portable Executable Info" style="padding: 10px">
    <div class="header">
        <h3 align="left">Portable Executable Info</h3>
    </div>
    <div class="detail">

        <table height=100px style="margin-left: 20px; margin-top: 10px; width: 600px">
            <div style="margin-left: 10px; margin-top: 15px;">
                <h4>Header</h4>
            </div>
            <tr id="Target Machine">
                <th>Target Machine</th>
            </tr>
            <tr id="Compilation Time">
                <th>Compilation Time</th>
            </tr>
            <tr id="Entry Point">
                <th>Entry Point</th>
            </tr>
            <tr id="Contained Sections">
                <th>Contained Sections</th>
            </tr>
        </table>
        <script>
            var pe_result = "{{p_dict}}";

            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */
            function change_header_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    for (var peh in json_pe[fname]) {
                        //document.write(stringf)
                        if (fname == pe_filename) {
                            if (peh == 'pe header') {
                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][peh]['Target Machine']);
                                new_li.appendChild(copy);
                                document.getElementById('Target Machine').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][peh]['File Creation Time']);
                                new_li.appendChild(copy);
                                document.getElementById('Compilation Time').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][peh]['Entry Point']);
                                new_li.appendChild(copy);
                                document.getElementById('Entry Point').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][peh]['Contained Sections']);
                                new_li.appendChild(copy);
                                document.getElementById('Contained Sections').appendChild(new_li);
                            }
                        }
                    }
                }
            }

            //change_header_page(fileName);

        </script>
    </div>
</div>

<!-- pe_section -->
<div id="section" style="padding: 10px">
    <div class="detail">
        <table height=160px id="section_table" style="margin-left: 20px;margin-top: 15px;" width=1000px>
            <thead>
            <div style="margin-top: 25px; margin-left: 10px;">
                <h4>Sections</h4>
            </div>
            <tr>
                <th>Name</th>
                <th>Virtual Address</th>
                <th>Virtual Size</th>
                <th>Raw Size</th>
                <th>Entropy</th>
                <th>MD5</th>
            </tr>
            </thead>
        </table>

        <script>
            var pe_result = "{{p_dict}}";
            /*
            document.write(pe_result);
            */
            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var pe_section = document.getElementById("section_table");

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_section_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    if (fname == pe_filename) {
                        for (var section in json_pe[fname]) {
                            if (section == 'cmp_section') {
                                //document.write(section)
                                for (var seci in json_pe[fname][section]) {
                                    //document.write(item)
                                    //section 부분만 출력하기 위한 if문

                                    var new_row = pe_section.insertRow(pe_section.rows.length);

                                    var Name = new_row.insertCell(0);
                                    var Virtual_add = new_row.insertCell(1);
                                    var Virtual_size = new_row.insertCell(2);
                                    var Raw_size = new_row.insertCell(3);
                                    var Entropy = new_row.insertCell(4);
                                    var md5 = new_row.insertCell(5);

                                    Name.innerHTML = json_pe[fname][section][seci]['section_name'];
                                    Virtual_add.innerHTML = json_pe[fname][section][seci]['virtual_address'];
                                    Virtual_size.innerHTML = json_pe[fname][section][seci]['virtual_size'];
                                    Raw_size.innerHTML = json_pe[fname][section][seci]['raw_size'];
                                    Entropy.innerHTML = json_pe[fname][section][seci]['entropy'];
                                    md5.innerHTML = json_pe[fname][section][seci]['hash_md5'];
                                }
                            }
                        }
                    }
                }
            }

            //change_section_page(fileName);

        </script>
    </div>
</div>

<!-- pe_rsrc_count -->
<div id="rsrc_count" style="padding: 10px">
    <div class="detail">
        <table height=160px id="contained_resource_table" style="margin-left: 20px;margin-top: 10px;" width=200px>
            <thead>
            <div style="margin-top: 20px; margin-left: 10px;">
                <h4 top=50px>Contained Resources By Type</h4>
            </div>
            <tr>
                <th>Resource Name</th>
                <th>Count</th>
            </tr>
            </thead>
        </table>

        <script>
            var pe_result = "{{p_dict}}";

            //document.write(pe_result);

            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var pe_resource_count = document.getElementById("contained_resource_table");

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_rsrc_count_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    //document.write(fname)
                    if (fname == pe_filename) {
                        for (var rsrc in json_pe[fname]) {
                            if (rsrc == 'rsrc_count') {
                                if (Object.keys(json_pe[fname][rsrc]).length === 0) {
                                    for (var item in json_pe[fname][rsrc]) {
                                        //resource 부분만 출력하기 위한 if문

                                        var new_row = pe_resource_count.insertRow(pe_resource_count.rows.length);

                                        var Resource_name = new_row.insertCell(0);
                                        var Count = new_row.insertCell(1);

                                        Resource_name.innerHTML = "-";
                                        Count.innerHTML = "-";
                                    }
                                } else {
                                    for (var item in json_pe[fname][rsrc]) {
                                        //resource 부분만 출력하기 위한 if문

                                        var new_row = pe_resource_count.insertRow(pe_resource_count.rows.length);

                                        var Resource_name = new_row.insertCell(0);
                                        var Count = new_row.insertCell(1);

                                        Resource_name.innerHTML = item;
                                        Count.innerHTML = json_pe[fname][rsrc][item];
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //change_rsrc_count_page(fileName);
        </script>
    </div>
</div>

<!-- pe_rsrc_lang -->
<div style="padding: 10px">
    <div class="detail">
        <table height=160px id="contained_resource_language_table" style="margin-left: 20px;margin-top: 10px;"
               width=230px>
            <thead>
            <div style="margin-top: 20px;margin-left: 10px;">
                <h4 top=50px>Contained Resources By Language</h4>
            </div>
            <tr>
                <th>Resource Language</th>
                <th>Count</th>
            </tr>
            </thead>
        </table>
        <script>
            var pe_result = "{{p_dict}}";
            /*
            document.write(pe_result);
            */
            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var pe_resource_lang = document.getElementById("contained_resource_language_table");

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_rsrc_lang_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    if (fname == pe_filename) {
                        for (var rsrc in json_pe[fname]) {
                            //resource 부분만 출력하기 위한 if문
                            if (rsrc == 'rsrc_lang') {
                                for (var item in json_pe[fname][rsrc]) {
                                    var new_row = pe_resource_lang.insertRow(pe_resource_lang.rows.length);

                                    var Resource_lang = new_row.insertCell(0);
                                    var Count = new_row.insertCell(1);

                                    Resource_lang.innerHTML = item;
                                    Count.innerHTML = json_pe[fname][rsrc][item];
                                }
                            }
                        }
                    }
                }
            }

            //change_rsrc_lang_page(fileName);
        </script>
    </div>
</div>

<!-- pe_rsrc_list -->
<div style="padding: 10px">
    <div class="detail">
        <table height=160px id="contained_resource_list_table" style="margin-left: 20px;margin-top: 10px;" width=1000px>
            <thead>
            <div style="margin-top: 20px; margin-left: 10px;">
                <h4>Contained Resources</h4>
            </div>
            <tr>
                <th>SHA-256</th>
                <th>Type</th>
                <th>Language</th>
            </tr>
            </thead>
        </table>
        <script>
            var pe_result = "{{p_dict}}";

            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            //document.write(text_pe_res);
            var pe_resource_list = document.getElementById("contained_resource_list_table");

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_rsrc_list_page(fileName) {
                var pe_filename = fileName;
                for (var fname in json_pe) {
                    //document.write(fname);
                    if (fname == pe_filename) {
                        for (var rsrc in json_pe[fname]) {
                            if (rsrc == 'rsrc_info') {
                                for (var item in json_pe[fname][rsrc]) {
                                    //document.write(json_pe[fname][rsrc]);
                                    var new_row = pe_resource_list.insertRow(pe_resource_list.rows.length);
                                    var Resource_sha256 = new_row.insertCell(0);
                                    var Resource_type = new_row.insertCell(1);
                                    var Resource_Lang = new_row.insertCell(2);

                                    Resource_sha256.innerHTML = json_pe[fname][rsrc][item]['sha-256'];
                                    Resource_type.innerHTML = json_pe[fname][rsrc][item]['Resource Type'];
                                    Resource_Lang.innerHTML = json_pe[fname][rsrc][item]['Resource Language'];
                                }
                            }
                        }
                    }
                }
            }

            //change_rsrc_list_page(fileName);
        </script>
    </div>
</div>

<!-- pe_import dll -->
<div style="padding: 10px">
    <div class="detail">
        <div height=200px id="Import_dll_list_table" style="margin-left:10px;" width=1000px>
            <div style="margin-top: 20px">
                <h4 top=50px>Imports</h4>
            </div>
        </div>
        <script>
            var pe_result = "{{p_dict}}";
            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_dll_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    if (fname == pe_filename) {
                        for (var list in json_pe[fname]) {
                            if (list == 'Imports') {
                                for (var item in json_pe[fname][list]) {
                                    //h6 태그 생성
                                    var details = document.createElement('details');
                                    var dll = document.createElement('summary');
                                    //태그에 넣을 문자열 생성
                                    var d = document.createTextNode(item);
                                    //태그에 문자열 삽입
                                    dll.appendChild(d);
                                    details.appendChild(dll);
                                    //태그를 html에 삽입
                                    for (var i in json_pe[fname][list][item]) {

                                        var new_li = document.createElement('p');
                                        var l = document.createTextNode(json_pe[fname][list][item][i]);
                                        //var nl = document.createTextNode(re);
                                        new_li.appendChild(l);
                                        //document.getElementById('Import_dll_list_table').appendChild(new_li);
                                        details.appendChild(new_li);
                                        //details.appendChild(nl);
                                    }
                                    document.getElementById('Import_dll_list_table').appendChild(details);
                                }
                            }
                        }
                    }
                }
            }

            //change_dll_page(fileName);
        </script>
    </div>
</div>

<!-- pe_rich -->
<div id="Extra Information" style="padding: 10px">
    <div class="header">
        <h3 align="left">Extra Information</h3>
    </div>
    <div class="detail">
        <div style="margin-top: 20px; margin-left: 10px;">
            <h4 top=50px>Rich Header</h4>
        </div>
        <table height=160px id="xor_key" style="margin-left: 20px;margin-top: 15px;" width=300px>
            <thead>
            <tr>
                <th>Xor Key</th>
            </tr>
            </thead>
        </table>
        <table height=160px id="rich_header" style="margin-left: 20px;" width=200px>
            <thead>
            <tr>
                <th>Compiler Name</th>
                <th>Count</th>
            </tr>
            </thead>
        </table>
        <script>
            var pe_result = "{{p_dict}}";
            /*
            document.write(pe_result);
            */
            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var pe_rich = document.getElementById("rich_header");
            var x_t = document.getElementById('xor_key');

            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */

            function change_rich_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    if (fname == pe_filename) {
                        for (var rich in json_pe[fname]) {
                            //section 부분만 출력하기 위한 if문
                            //document.write(rich);
                            if (rich == 'rich header') {
                                for (var xork in json_pe[fname][rich]) {
                                    if (xork == "xor key") {
                                        var x = x_t.insertRow(x_t.rows.length);
                                        var xor = x.insertCell(0);

                                        xor.innerHTML = json_pe[fname][rich][xork];
                                    } else {
                                        var new_row = pe_rich.insertRow(pe_rich.rows.length);

                                        var comp_name = new_row.insertCell(0);
                                        var count = new_row.insertCell(1);

                                        comp_name.innerHTML = xork;
                                        count.innerHTML = json_pe[fname][rich][xork];
                                    }
                                }
                            }
                        }
                    }
                }
            }

            //change_rich_page(fileName);
        </script>
    </div>
</div>

<!-- pe_pdb -->
<div id="pdb" style="padding: 10px">
    <div class="detail">
        <div style="margin-top: 20px; margin-left: 10px;">
            <h4 top=50px>PDB Information</h4>
        </div>
        <table height=140px id="pdb_table" style="margin-left:20px;margin-top: 10px;">
            <tr id="PDB Name">
                <th style="padding-right: 20px;">PDB Name</th>
            </tr>
            <tr id="PDB GUID">
                <th style="padding-right: 20px;">PDB GUID</th>
            </tr>
            <tr id="PDB Age">
                <th style="padding-right: 20px;">PDB Age</th>
            </tr>
            <tr id="PDB Path">
                <th style="padding-right: 20px;">PDB Path</th>
            </tr>
        </table>
        <script>
            var pe_result = "{{p_dict}}";
            var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
            var json_pe = JSON.parse(text_pe_res);

            /* 파일 이름이 다르면 테이블이 변경됨 */
            function change_pdb_page(fileName) {
                pe_filename = fileName;
                for (var fname in json_pe) {
                    for (var pdb in json_pe[fname]) {
                        //document.write(stringf)
                        if (fname == pe_filename) {
                            if (pdb == 'pdb_info') {
                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][pdb]['pe_pdb_Name']);
                                new_li.appendChild(copy);
                                document.getElementById('PDB Name').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][pdb]['pe_pdb_GUID']);
                                new_li.appendChild(copy);
                                document.getElementById('PDB GUID').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][pdb]['pe_pdb_Age']);
                                new_li.appendChild(copy);
                                document.getElementById('PDB Age').appendChild(new_li);

                                var new_li = document.createElement('td');
                                var copy = document.createTextNode(json_pe[fname][pdb]['pe_pdb_Pdbpath']);
                                new_li.appendChild(copy);
                                document.getElementById('PDB Path').appendChild(new_li);
                            }
                        }
                    }
                }
            }

            //change_pdb_page(fileName);

        </script>
    </div>
</div>

{% else %}
<h1>No PE Information</h1>
{% endif %}

</div>
<br><br><br>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
      rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.js"></script>
<script>
    var pe_result = "{{p_dict}}";
    //document.write(pe_result);
    var text_pe_res = pe_result.replace(/&#39;/gi, '"').replace(/\t/gi, "\\t").replace(/\r/gi, "\\r").replace(/\n/gi, "\\n").replace(/None/gi, '"none"').replace(/\\/gi, '/');
    //document.write(text_pe_res);
    var json_pe = JSON.parse(text_pe_res);

    var pickerclass = document.getElementById('select_pe');
    for (var standard in json_pe) {
        var option = document.createElement("option");
        option.value = standard;
        option.text = standard;
        pickerclass.appendChild(option);
        $('#select_pe').selectpicker('refresh');
    }

    window.onload=function() {
        $("td").detach();
        $("details").detach();
        var fileName = $("#select_pe").children("option:eq(1)").text();        // 기준 파일명을 가져옴
        change_basic_page(fileName);
        change_string_page(fileName);
        change_header_page(fileName);
        change_section_page(fileName);
        change_rsrc_count_page(fileName);
        change_rsrc_lang_page(fileName);
        change_rsrc_list_page(fileName);
        change_dll_page(fileName);
        change_rich_page(fileName);
        change_pdb_page(fileName);
    }

    $("#select-pe").unbind('click').on('click', function () {
        $("td").detach();
        $("details").detach();
        var fileName = $("#select_pe").children("option:selected").text();        // 기준 파일명을 가져옴
        change_basic_page(fileName);
        change_string_page(fileName);
        change_header_page(fileName);
        change_section_page(fileName);
        change_rsrc_count_page(fileName);
        change_rsrc_lang_page(fileName);
        change_rsrc_list_page(fileName);
        change_dll_page(fileName);
        change_rich_page(fileName);
        change_pdb_page(fileName);
    });
    // var first_base = $("#select_pe").find('option:eq(1)');
    // //console.log(first_base.text());
    // first_base.attr('selected', 'selected');
    // $pe_all();

    //$(document).ready(function () {

    //})
</script>
{% endblock section %}

{% block foot %}
{% endblock foot %}